# ##########################################################
# 基本情報
# ##########################################################
# ドメイン
DOMAIN="<Hostingで使用するドメイン>"

# ##########################################################
# Google API 設定
# ##########################################################
# Geocoding API
GEOCODING_KEY="<Google Geocoding APIキー>"


# ##########################################################
# LINE 設定
# https://developers.line.biz/console/
# ##########################################################
# ---------------------------
# チャネル設定
# ---------------------------
# 顧客用
LINE_PUBLIC_ACCOUNT="@<LINE 公式アカウントID>"
LINE_PUBLIC_CH_ID="<LINE Messaging API チャネルID>"
LINE_PUBLIC_SECRET="<LINE Messaging API チャネルシークレット>"
LINE_PUBLIC_TOKEN="<LINE Messaging API チャネルアクセストークン>"
# 管理者用
LINE_ADMIN_ACCOUNT="@<LINE 公式アカウントID>"
LINE_ADMIN_CH_ID="<LINE Messaging API チャネルID>"
LINE_ADMIN_SECRET="<LINE Messaging API チャネルシークレット>"
LINE_ADMIN_TOKEN="<LINE Messaging API チャネルアクセストークン>"
# LIFF用
LIFF_CH_ID="<LINEログイン チャネルID>"
LIFF_SECRET="<LINEログイン チャネルシークレット>"

# ---------------------------
# LIFF設定
# ---------------------------
# 本番用
# ユーザー登録
LIFF_REGIST="<LIFF ID>"
# 問い合わせ
LIFF_CONTACT="<LIFF ID>"
# 予約
LIFF_RESERVE="<LIFF ID>"
# 従業員LINE連携
LIFF_STAFF_SYNC="<LIFF ID>"

# 開発用
# ユーザー登録
LIFF_REGIST_DEV="<LIFF ID>"
# 問い合わせ
LIFF_CONTACT_DEV="<LIFF ID>"
# 予約
LIFF_RESERVE_DEV="<LIFF ID>"
# 従業員LINE連携
LIFF_STAFF_SYNC_DEV="<LIFF ID>"


# ##########################################################
# Firebase 設定
# https://console.firebase.google.com/u/0/project/l-s-zero-product/settings/general/web
# ##########################################################
FB_API_KEY="<Firebase Configuration apiKey>"
FB_AUTH_DOMAIN="<Firebase Configuration authDomain>"
FB_PROJECT_ID="<Firebase Configuration projectId>"
FB_STORAGE_BUCKET="<Firebase Configuration storageBucket>"
FB_MSG_SENDER_ID="<Firebase Configuration messagingSenderId>"
FB_APP_ID="<Firebase Configuration appId>"
FB_MEASUREMENT_ID="<Firebase Configuration measurementId>"

# LIFF用アカウント メールアドレス
LIFF_USER_ID="liff@zp-ls.com"
# LIFF用アカウント パスワード
LIFF_USER_PW="y6sz38#g"
